/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.container {
  max-width: 70%;
  margin: 0 auto;
  display: flex;

  /* debug 
  border: 1px dashed black;*/
}

a {
  text-decoration: none;
  margin: 5px;
  color: white;
  font-size: 1.1rem;
}

/* HEADER */

header {
  min-height: 75px;
  background-color: #ff6900;
}

.header-container {
  min-height: 75px;
}

.header-left {
  width: 20%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 90px;

  /* debug 
  border: 1px dashed black;*/
}

.header-center {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 250px;

  /* debug 
  border: 1px dashed black;*/
}

.header-logo {
  width: 150px;
}

.header-right {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  font-size: 1.2rem;
  color: white;
  min-width: 90px;

  /* debug 
  border: 1px dashed black;*/
}

/* MAIN */

.products {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: calc(100% / 3 - 10px);
  margin: 5px;
  min-width: 350px;
  margin-top: 40px;
  position: relative;
}

.card img {
  margin: 0 auto;
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.sale {
  position: absolute;
  left: 0;
  bottom: 90px;
  color: white;
  font-size: 1rem;
  z-index: 2;
}

.description span {
  color: red;
  font-weight: bold;
}

.throught {
  text-decoration: line-through;
}
.red {
  background-color: red;
  margin: 3px;
  margin-left: 0;
  padding: 3px 7px;
}

.green {
  background-color: green;
  margin-left: 0;
  padding: 3px 7px;
}

.heart {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: white;
  font-size: 2rem;
  padding: 5px 12px;
  z-index: 2;
}

.card .second-img {
  position: absolute;
  top: 0;
  z-index: 0;
}

.card:hover .second-img {
  z-index: 1;
}
